@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

/* Popper styles */

.popper-arrow,
.popper-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.popper-arrow {
  visibility: hidden;
}

.popper-arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

div[data-popper-placement^="top"] > .popper-arrow {
  bottom: -4px;
}

div[data-popper-placement^="bottom"] > .popper-arrow {
  top: -4px;
}

div[data-popper-placement^="left"] > .popper-arrow {
  right: -4px;
}

div[data-popper-placement^="right"] > .popper-arrow {
  left: -4px;
}
