@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar styles */

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(127, 127, 127, 0.5);
  border-radius: 20px;
  border: transparent;
}
