name: Release New Builds

on:
  push:
    tags:
      - v*.*.*

jobs:
  release-tracks:
    strategy:
      matrix:
        track: [sql, vscode]
    uses: lightrail-ai/lightrail/.github/workflows/release-track.yaml@main
    with:
      directory: ./tracks/${{ matrix.track }}

  release-vscode:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 19
          cache: "npm"
          cache-dependency-path: vscode/package-lock.json

      - name: Install Dependencies
        run: npm --prefix ./vscode install

      - name: Package
        run: yes | npm --prefix ./vscode run package -- -o lightrail-vscode.vsix

      - name: release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            vscode/lightrail-vscode.vsix

  release-chrome:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 19
          cache: "npm"
          cache-dependency-path: chrome/package-lock.json

      - name: Install Dependencies
        run: npm --prefix ./chrome install

      - name: Build
        run: npm --prefix ./chrome run build

      - name: Install zip
        uses: montudor/action-zip@v1

      - name: Zip output
        working-directory: chrome
        run: zip -qq -r lightrail-chrome.zip dist

      - name: release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            chrome/lightrail-chrome.zip

  release-electron:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest] #windows-latest, ]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 19

      - name: Configure Node caching
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Dependencies
        run: npm --prefix ./core install

      - name: build-linux
        if: matrix.os == 'ubuntu-latest'
        run: npm --prefix ./core run build:linux

      - name: build-mac
        env:
          CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
          CSC_LINK: ${{ secrets.CSC_LINK }}
          APPLEID: ${{ secrets.APPLEID }}
          APPLEIDPASS: ${{ secrets.APPLEIDPASS }}
        if: matrix.os == 'macos-latest'
        run: npm --prefix ./core run build:mac

      # - name: build-win
      #   if: matrix.os == 'windows-latest'
      #   run: npm run build:win

      - name: release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            core/dist/*.exe
            core/dist/*.zip
            core/dist/*.dmg
            core/dist/*.AppImage
            core/dist/*.snap
            core/dist/*.deb
            core/dist/*.rpm
            core/dist/*.tar.gz
            core/dist/*.yml
            core/dist/*.blockmap
